<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
 PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>

  <properties resource="jdbc.properties">
    <!-- <property name="driver" value=""/> -->
  </properties>

  <environments default="development">
    <environment id="development">
      <transactionManager type="JDBC"/>
      <dataSource type="POOLED">
        <property name="driver" value="${driver}"/>
        <property name="url" value="${url}"/>
        <property name="username" value="${username}"/>
        <property name="password" value="${password}"/>
      </dataSource>
    </environment>
  </environments>

  <!-- Register all interfaces in a package as mappers -->
  <mappers>
    <mapper resource="com/xxx/webapp/asystem/mybatis/mapper/CourseMapper.xml"/>
    <mapper resource="com/xxx/webapp/asystem/mybatis/mapper/ScoreResultMapper.xml"/>
    <mapper resource="com/xxx/webapp/asystem/mybatis/mapper/StudentMapper.xml"/>
    <mapper resource="com/xxx/webapp/asystem/mybatis/mapper/TeacherMapper.xml"/>
    <mapper resource="com/xxx/webapp/asystem/mybatis/mapper/TestPaperMapper.xml"/>
    <!-- <package name="com.xxx.webapp.asystem.mybatis.mapper"/> -->
    <mapper class="com.xxx.webapp.asystem.dao.CourseDaoCustom"/>
    <mapper class="com.xxx.webapp.asystem.dao.ScoreResultDaoCustom"/>
    <mapper class="com.xxx.webapp.asystem.dao.StudentDaoCustom"/>
    <mapper class="com.xxx.webapp.asystem.dao.TeacherDaoCustom"/>
    <mapper class="com.xxx.webapp.asystem.dao.TestPaperDaoCustom"/>
  </mappers>

</configuration>
