<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xxx.webapp.asystem.mybatis.mapper.DynInfoMapper">
  <resultMap id="BaseResultMap" type="com.xxx.webapp.asystem.pojo.DynInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="student_id" jdbcType="INTEGER" property="studentId" />
    <result column="nfc_tag" jdbcType="VARCHAR" property="nfcTag" />
    <result column="geo" jdbcType="VARCHAR" property="geo" />
    <result column="type" jdbcType="VARCHAR" property="type" />
    <result column="create_timestamp" jdbcType="TIMESTAMP" property="createTimestamp" />
  </resultMap>
  <sql id="Base_Column_List">
    id, student_id, nfc_tag, geo, type, create_timestamp
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dyn_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dyn_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xxx.webapp.asystem.pojo.DynInfo">
    insert into dyn_info (id, student_id, nfc_tag, 
      geo, type, create_timestamp
      )
    values (#{id,jdbcType=INTEGER}, #{studentId,jdbcType=INTEGER}, #{nfcTag,jdbcType=VARCHAR}, 
      #{geo,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{createTimestamp,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.xxx.webapp.asystem.pojo.DynInfo">
    insert into dyn_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="studentId != null">
        student_id,
      </if>
      <if test="nfcTag != null">
        nfc_tag,
      </if>
      <if test="geo != null">
        geo,
      </if>
      <if test="type != null">
        type,
      </if>
      <if test="createTimestamp != null">
        create_timestamp,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="studentId != null">
        #{studentId,jdbcType=INTEGER},
      </if>
      <if test="nfcTag != null">
        #{nfcTag,jdbcType=VARCHAR},
      </if>
      <if test="geo != null">
        #{geo,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        #{type,jdbcType=VARCHAR},
      </if>
      <if test="createTimestamp != null">
        #{createTimestamp,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xxx.webapp.asystem.pojo.DynInfo">
    update dyn_info
    <set>
      <if test="studentId != null">
        student_id = #{studentId,jdbcType=INTEGER},
      </if>
      <if test="nfcTag != null">
        nfc_tag = #{nfcTag,jdbcType=VARCHAR},
      </if>
      <if test="geo != null">
        geo = #{geo,jdbcType=VARCHAR},
      </if>
      <if test="type != null">
        type = #{type,jdbcType=VARCHAR},
      </if>
      <if test="createTimestamp != null">
        create_timestamp = #{createTimestamp,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xxx.webapp.asystem.pojo.DynInfo">
    update dyn_info
    set student_id = #{studentId,jdbcType=INTEGER},
      nfc_tag = #{nfcTag,jdbcType=VARCHAR},
      geo = #{geo,jdbcType=VARCHAR},
      type = #{type,jdbcType=VARCHAR},
      create_timestamp = #{createTimestamp,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>